video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;  
}

.hero-container {
    /* background: url('images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.hero-container > h1 {
    color:#fff;
    font-size: 100px;
    margin-top: -110px;
}

/* .hero__title {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s ;
} */

.hero__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.hero-container> p {
    margin-top: 8px;
    color:#fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 28px;
}

.hero-btns .btn {
    margin: 6px;
}

.alert-enter {
    opacity: 0;
    transform: translate(0, -120%);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 2000ms, transform 2000ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 800ms, transform 800ms;
  }
  

@media(max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: 60px;
    }
}

@media(max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: 30px;
    }

    .hero-container> p {
        margin-top: 8px;
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}

